.image-viewer {
  position: absolute;
  z-index: 100;
  //   background-color: purple;
  margin-top: 5vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  //   border: 3px solid grey;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 80vh;
  //   padding: 1rem;
  .display-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;

    .image-display {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 80%;
      animation: simple-opacity-fadein 500ms 0s forwards ease-in;
      img {
        width: 90%;
      }
    }

    .image-row {
      width: 17%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-evenly;
      .image-tile {
        // height: 5%;
        cursor: pointer;

        img {
          opacity: 0;
          width: 100%;
        }

        @for $i from 1 through 4 {
          &:nth-child(#{$i}) img {
            animation: simple-opacity-fadein
              200ms
              (($i - 1) * 100ms)
              forwards
              ease-in;
          }
        }
      }
    }
  }

  .image-display-footer {
    font-size: 14px;
    color: white;
    opacity: 0;
    animation: simple-opacity-fadein 500ms 0s forwards ease-in;

    p {
      width: 300px;
      text-align: center;
      padding: 0;
      margin: 0;
      margin-top: 1rem;
      padding-top: 2%;
      border-top: 1px solid white;
    }
  }
}
